<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Budapest Rooms</title>
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
<link rel="stylesheet" href="/css/show.css">
  </head>
  <body>
    <p><%=room.name%></p>
  <img src="<%=room.image%>">
    <ul>
    <li class = "suite">Suite: <%=room.suite%></li>
    <li class = "price">Price Paid: $<%=room.price%>/week</li>
    <li class = "furniture" >Furniture: <%=room.furniture%></li>
    <li class = "date">Date to Check-In: <%=room.date%></li>
    <li> Person Staying: <%=room.author%></li>
  </ul>
  <form action="/budapest/<%=room.id%>?_method=DELETE" method="POST">
    <input
    class = "submit"
    type="submit"  value="DELETE"/>
  </form>
    <a href = "/budapest/<%=room.id%>/edit"><button>EDIT</button></a>
    <a href = "/budapest"><button>GO BACK</button></a>
  </div>
  </body>
</html>
